{% extends "base.html" %}
{% load static %}

{% block content %}
<form id ="{{current_url.kwargs.pk }}" class="form-task" action="
{% url  current_url.view_name pk=current_url.kwargs.pk  %}" method="post">
    {% csrf_token %}
    <div class="main-menu-wrap margin-menu">
         <button type="submit" class="btn btn-blue" id='button'>
                <i class="fas fa-save"></i>Сохранить
            </button>

                      <a class="btn btn-white" href=
"{% url 'course:course_detail' pk=current_url.kwargs.pk %}">
                        <i class="fas fa-ban"></i>Отменить
                    </a>
    </div>
    </div>
    <div class="col-sm-12 col-md-9">
        <div class="breadcrumbs">
            <div class="breadcrumbs-item"><a href="{% url 'course:course_list' %}">Курсы</a></div>
            <div class="separator">></div>
            <div class="breadcrumbs-item"><a href="{% url 'course:course_detail' pk=current_url.kwargs.pk %}">
                {{course.name}}</a></div>
            <div class="separator">></div>
            <div class="breadcrumbs-item">Новая задача</div>
        </div>
        <div class="main-wrap">
            <h1>Новая задача </h1>

            <div class="title-field">
                <i class="fas fa-user-graduate"></i>Название задачи
            </div>
            <div class="wrap-field">
                {{form.name}}
            </div>
            <div class="date-wrap">
                <div class="date-l">
                    <div class="title-field">
                        <i class="fas fa-calendar-day"></i>Дата начала

                    </div>
                    <div class="wrap-field">
                        <i class="fas fa-sort-down i-sort-1"></i>
                        {{form.start_date}}

                    </div>
                </div>
                <div class="date-r">
                    <div class="title-field">
                        <i class="fas fa-calendar-day"></i>Дата окончания
                    </div>
                    <div class="wrap-field">
                        <i class="fas fa-sort-down i-sort-1"></i>
                        {{form.end_date}}
                    </div>
                </div>
  
            </div>
</form>

   {% if form.errors %}      
    {{ form.start_date.errors}}  
   {{ form.errors }} 
            {% endif %}
            <script src="{% static 'js/valid_end_date.js' %}"></script> 
             <script src="{% static 'js/valid_start_date.js' %}"></script> 
{% endblock %}
