{% extends "base.html" %}
{% load static %}

{% block content %}
<form action="{% url 'tasks:add_task' request.resolver_match.kwargs.pk %}" method="post">
    {% csrf_token %}
    <div class="main-menu-wrap margin-menu">
        <div class="btn btn-blue" >
                        <i class="fas fa-save"></i>
                        <input type="submit" value="Сохранить" class = "button-blue">
                    </div>

                     <div class="btn btn-white" >
                        <i class="fas fa-ban"></i>
                        <input type="reset" value="Отменить" class = "button-white">
                    </div>
    </div>
    </div>
    <div class="col-sm-12 col-md-9">
        <div class="breadcrumbs">
            <div class="breadcrumbs-item"><a href="courses.html">Курсы</a></div>
            <div class="separator">></div>
            <div class="breadcrumbs-item"><a href="courses.html">Название курса раз</a></div>
            <div class="separator">></div>
            <div class="breadcrumbs-item">Добавление задачи</div>
        </div>
        <div class="main-wrap">
            <h1>Добавление задачи</h1>

            <div class="title-field">
                <i class="fas fa-user-graduate"></i>Название задачи
            </div>
            <div class="wrap-field">
                {{form.name}}
            </div>
            <div class="date-wrap">
                <div class="date-l">
                    <div class="title-field">
                        <i class="fas fa-calendar-day"></i>Дата начала

                    </div>
                    <div class="wrap-field">
                        <i class="fas fa-sort-down i-sort-1"></i>
                        {{form.start_date}}

                    </div>
                </div>
                <div class="date-r">
                    <div class="title-field">
                        <i class="fas fa-calendar-day"></i>Дата окончания
                    </div>
                    <div class="wrap-field">
                        <i class="fas fa-sort-down i-sort-1"></i>
                        {{form.end_date}}
                    </div>
                </div>

            </div>
</form>
{% endblock %}