input {
    border-width: 0px;
}

#input_avatar{
    outline:0;
    opacity:0;
    pointer-events:none;
    user-select:none
}

.avatar-edit {
    cursor:pointer;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrap-field > .select.select-width {
background-color: #fff;
}

.button-blue {
    font-family: 'Open Sans';
    color: #fff;
    background: #66C1DE;
    font-size: 16px;
    font-weight: 700;
    width: 100%;
    height: 100%;
}

.btn-blue:hover .button-blue {
    background: #27AED9;
}

.button-blue:active .button-blue:hover{
    background: #10A1CF;
}

.button-white {
    font-family: 'Open Sans';
    color: #66C1DE;
    background-color: #fff;
    font-size: 16px;
    font-weight: 700;
    width: 100%;
    height: 100%;
    text-decoration: none;
}
.btn-white i {
    color: #66C1DE;
}

.btn-white:hover .button-white {
    color: #27AED9;
    border-color: #27AED9;
    text-decoration: none;
}

.button-white:active  {
    color: #10A1CF;
    border-color: #10A1CF;
    text-decoration: none;
}

td {
    word-break: break-all;
}

.button_for_search {
    position: absolute;
    top: 9px;
    left: 17px;
   
}

a.disabled {
    pointer-events: none;
  }

.task-plan {
    background-color: #BEBEBE;
}

.file-r {
    margin-top: 8px;
    position: relative;
	overflow: hidden;
}

.file-r input {
    position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 45px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

button {
    border-width: 0px;
}
.menu-l-item a {
    margin-right: 40px;
}

.del-f {
    background-color: #fff;
}
li {
    list-style-type: none; 
    color: red;
   }

.invalid-startdate, .invalid-enddate  {
    color: red;

}

.task-done {
    background-color: #530e7a;

}

#id_profession, .select2-selection--single, .select2-selection {
    width: 100%;
    color: black;
   
}

.select2-container--default, .select2-container {
    color: black;
    border: solid 1px;
    border-color: #66C1DE;
    height: 30px;
    border-radius: 20px;
    padding-left: 42px;
}

 
.select2-results__option,.select2-results__option--selectable, .select2-results__option--highlighted {
    color: black;
}

.course-plan .bar-blue {
  
    background-color: #BEBEBE;
}
.course-plan .course-rate {
    background-color: #BEBEBE;
}