{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{% static 'css/favicon/favicon.ico'%}" type="image/x-icon">
    <link href="{% static 'css/bootstrap-grid.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/fontawesome/css/all.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css'%}">
    <link rel="stylesheet" href="{% static 'css/django.css'%}">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    

    
</head>
<body>

{% block menu %}
<div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-3">
                <div class="logo-wrap">
                    <a href="#">
                    <svg width="70" height="58" viewBox="0 0 70 58" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect y="29.0067" width="40.9148" height="40.9148" rx="11" transform="rotate(-45 0 29.0067)" fill="url(#paint0_linear)"/>
                        <rect x="12.1377" y="28.9311" width="40.9148" height="40.9148" rx="11" transform="rotate(-45 12.1377 28.9311)" fill="url(#paint1_linear)"/>
                        <defs>
                        <linearGradient id="paint0_linear" x1="20.4574" y1="29.0067" x2="20.4574" y2="69.9215" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#C4C4C4"/>
                        <stop offset="1" stop-color="#333333"/>
                        </linearGradient>
                        <linearGradient id="paint1_linear" x1="32.5951" y1="28.9311" x2="32.5951" y2="69.8459" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#66C1DE"/>
                        <stop offset="1" stop-color="#27AED9"/>
                        </linearGradient>
                        </defs>
                    </svg>  
                    </a>                 
                </div>
            </div>
            <div class="col-sm-12 col-md-9">
                <div class="menu-warp">
                    <div class="menu-l">
                        <div class="menu-l-item">

                            <i class="fas fa-graduation-cap"></i><a href="{% url 'course:course_list' %}">Курсы</a>
                            <i class="fas fa-tasks"></i><a href="{% url 'task_daily' %}">Ежедневные задачи</a>

                        </div>
                    </div>
                    <div class="menu-r">
                        <div class="menu-r-item">
                            <i class="fas fa-user-edit"></i><a href="{% url 'users:profile' %}">{{user.username}}</a>
                        </div>
                        <div class="menu-r-item">
                            <i class="fas fa-sign-out-alt"></i><a href="{% url 'users:logout' %}">Выход</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-3">
                
{% endblock %}
{% block content %} 
{% endblock %}


<script src="{% static 'js/jquery.js' %}"></script>
{% block custom_js %}
{% endblock %}
</body>
</html>