{% extends "base.html" %}
{% load static %}
{% block title %} {{ extra_context }} {% endblock %}

{% block content %}
              
                <form action="{% url 'users:edit_profile' user.id  %}" method="post" class = 'form' enctype="multipart/form-data">
                 {% csrf_token %}
                    <div class="avatar">
                        <img src="{% if user.avatar %}{{ user.avatar.url }} {% else %} {% static 'img/ava-2.jpg'%}{% endif %}" alt="Аватарка"> 
                        <a class="avatar-edit" id = "avatar-edit">
                            <i class="fas fa-edit"></i>
                        </a>
                    </div>

                    <div class="form-group">
    <label class="avatar-edit">
      <i class="fas fa-edit"></i>
       {{ form.avatar }} 
    </label>
  </div>

                    <div class="btn btn-blue" >
                        <i class="fas fa-save"></i>
                        <input type="submit" value="Сохранить" class = "button-blue">
                    </div>

                     <div class="btn btn-white" >
                        <i class="fas fa-ban"></i>
                        <input type="reset" value="Отменить" class = "button-white">
                    </div>
            
                   
                </div>
            </div> 
            <div class="col-sm-12 col-md-9">

                <div class="main-wrap">
                    <h1>Редактирование профиля</h1>

                    <div class="title-field">
                        <i class="fas fa-user"></i>Фамилия
                    </div>
                    <div class="wrap-field">
                       {{ form.surname }}
                        
                    </div>

                    <div class="title-field">
                        <i class="fas fa-user"></i>Имя
                    </div>
                    <div class="wrap-field">
                       {{ form.first_name }}
                       
                    </div>

                    <div class="title-field">
                        <i class="fas fa-user"></i>Отчество
                    </div>
                    <div class="wrap-field">
                       {{ form.last_name }}
                       
                    </div>

                    <div class="title-field">
                        <i class="fas fa-map-marker"></i>Адрес
                    </div>
                     <div class="wrap-field add-course-i">
                    <i class="fas fa-sort-down i-sort-1"></i>  
                        {{ form.city }}
                    </div>

                    <div class="title-field">
                        <i class="fas fa-envelope"></i>E-mail
                    </div>

                    <div class="wrap-field">
                        {{ form.email }}
                    </div>

                     <div class="title-field">
                        <i class="fas fa-pager"></i> Возраст
                    </div>

                    <div class="wrap-field">
                        {{ form.age }}
                    </div>

                </div>
                {% if form.errors %}
{{ form.errors }}
{% endif %}
                </form>

                {% for message in messages %}
                {{ message }}
                {% endfor %}
{% endblock %}


