<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skilldiary</title>
    <link rel="icon" href="favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="bootstrap-grid.min.css">
    <link href="fontawesome/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-3">
                <div class="logo-wrap">
                    <a href="courses.html">
                    <svg width="70" height="58" viewBox="0 0 70 58" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect y="29.0067" width="40.9148" height="40.9148" rx="11" transform="rotate(-45 0 29.0067)" fill="url(#paint0_linear)"/>
                        <rect x="12.1377" y="28.9311" width="40.9148" height="40.9148" rx="11" transform="rotate(-45 12.1377 28.9311)" fill="url(#paint1_linear)"/>
                        <defs>
                        <linearGradient id="paint0_linear" x1="20.4574" y1="29.0067" x2="20.4574" y2="69.9215" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#C4C4C4"/>
                        <stop offset="1" stop-color="#333333"/>
                        </linearGradient>
                        <linearGradient id="paint1_linear" x1="32.5951" y1="28.9311" x2="32.5951" y2="69.8459" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#66C1DE"/>
                        <stop offset="1" stop-color="#27AED9"/>
                        </linearGradient>
                        </defs>
                    </svg>  
                    </a>                 
                </div>
            </div>
            <div class="col-sm-12 col-md-9">
                <div class="menu-warp">
                    <div class="menu-l">
                        <div class="menu-l-item">
                            <i class="fas fa-graduation-cap"></i><a href="#">Курсы</a>
                        </div>
                    </div>
                    <div class="menu-r">
                        <div class="menu-r-item">
                            <i class="fas fa-user-edit"></i><a href="profile.html">Профиль</a>
                        </div>
                        <div class="menu-r-item">
                            <i class="fas fa-sign-out-alt"></i><a href="index.html">Выход</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-3">
                <div class="main-menu-wrap">
                    <a class="btn btn-blue" href="course-add.html">
                        <i class="fas fa-plus-circle"></i>Добавить курс
                    </a>
                    
                    <div class="radio-select">
 
                        <div>
                            <input class="custom-radio" type="radio" id="1" name="radio-select" value="1" checked>
                            <label for="1">Все курсы</label>
                        </div>
                      
                      <div>
                        <input class="custom-radio" type="radio" id="2" name="radio-select" value="2">
                        <label for="2">Пройденые курсы</label>
                      </div>
                      
                      <div>
                        <input class="custom-radio" type="radio" id="3" name="radio-select" value="3">
                        <label for="3">Просроченые курсы</label>
                      </div>
                      <div>
                        <input class="custom-radio" type="radio" id="4" name="radio-select" value="4">
                        <label for="4">Не пройденные курсы</label>
                      </div>

                    </div>    

                   
                    



                    <a class="btn btn-blue" href="#">
                        <i class="fas fa-file-alt"></i>Отчет
                    </a>

                       
                </div>
            </div>
            <div class="col-sm-12 col-md-9">
                <div class="sorts-wrap">

                     <div class="wrap-field">
                         <i class="fas fa-search"></i>   
                         <input class="field" placeholder="Поиск..." type="text">
                     </div>

                     <div class="wrap-field">
                         Профессия
                         <i class="fas fa-sort-down i-sort-1"></i>  
                         <select class="field select">
                             <option selected >Какая-то профессиия</option>
                             <option>Какая-то профессиия два</option>
                             <option>Python программист</option>
                        </select>
                        
                     </div>

                     <div class="wrap-field">
                        Сортировка
                        <i class="fas fa-sort-down i-sort-2"></i>  
                        <select class="field select">
                            <option selected >Дедлайн</option>
                            <option>Пункт 2</option>
                          </select>
                       
                    </div>
                </div>

                <a href="course.html" class="course-wrap">
                    <div class="container mycontainer">
                        <div class="row myrow">
                            <div class="col-11 mycol">
                                <div class="course-main">
                                    <div class="course-title">
                                        Название курса раз
                                    </div>
                                    <div class="course-location">
                                        GeekBrains
                                    </div>
                                    <div class="course-progress">
                                        Прогрес
                                    </div>
                                    <div class="course-bar">
                                        <div class="coures-start-date">
                                            25.08.20
                                        </div>
                                        <div class="bar">
                                            <div class="bar-blue"></div>
                                        </div>
                                        <div class="coures-end-date">
                                            03.10.21
                                        </div>
                                    </div>
                                    <div class="course-description">
                                        Разнообразный и богатый опыт новая модель организационной деятельности представляет собой интересный эксперимент проверки модели развития. Таким образом новая модель организационной деятельности играет важную роль в формировании модели развития.
                                    </div>
                                </div>
                            </div>
                            <div class="col-1 mycol">
                                <div class="course-rate">
                                    97
                                </div>
                            </div>
                        </div>          
                    </div>
                </a>

                <a href="course.html" class="course-wrap">
                    <div class="container mycontainer">
                        <div class="row myrow">
                            <div class="col-11 mycol">
                                <div class="course-main">
                                    <div class="course-title">
                                      
                                        Разнообразный и богатый опыт новая модель организационной деятельности представляет
                                    </div>
                                    <div class="course-location">
                                        GeekBrains
                                    </div>
                                    <div class="course-progress">
                                        Прогрес
                                    </div>
                                    <div class="course-bar">
                                        <div class="coures-start-date">
                                            25.08.20
                                        </div>
                                        <div class="bar">
                                            <div class="bar-blue"></div>
                                        </div>
                                        <div class="coures-end-date">
                                            03.10.21
                                        </div>
                                    </div>
                                    <div class="course-description">
                                        Разнообразный и богатый опыт новая модель организационной деятельности представляет собой интересный эксперимент проверки модели развития. Таким образом новая модель организационной деятельности играет важную роль в формировании модели развития.
                                    </div>
                                </div>
                            </div>
                            <div class="col-1 mycol">
                                <div class="course-rate">
                                    -
                                </div>
                            </div>
                        </div>          
                    </div>
                </a>

                <a href="course.html" class="course-wrap complete">
                    <div class="container mycontainer">
                        <div class="row myrow">
                            <div class="col-11 mycol">
                                <div class="course-main">
                                    <div class="course-title">
                                        Название курса раз
                                    </div>
                                    <div class="course-location">
                                        GeekBrains
                                    </div>
                                    <div class="course-progress">
                                        Прогрес
                                    </div>
                                    <div class="course-bar">
                                        <div class="coures-start-date">
                                            25.08.20
                                        </div>
                                        <div class="bar">
                                            <div class="bar-blue"></div>
                                        </div>
                                        <div class="coures-end-date">
                                            03.10.21
                                        </div>
                                    </div>
                                    <div class="course-description">
                                        Разнообразный и богатый опыт новая модель организационной деятельности представляет собой интересный эксперимент проверки модели развития. Таким образом новая модель организационной деятельности играет важную роль в формировании модели развития.

                                        Разнообразный и богатый опыт новая модель организационной деятельности представляет собой интересный эксперимент проверки модели развития. Таким образом новая модель организационной деятельности играет важную роль в формировании модели развития.
                                    </div>
                                </div>
                            </div>
                            <div class="col-1 mycol">
                                <div class="course-rate">
                                    45
                                </div>
                            </div>
                        </div>          
                    </div>
                </a>

                <a href="course.html" class="course-wrap complete">
                    <div class="container mycontainer">
                        <div class="row myrow">
                            <div class="col-11 mycol">
                                <div class="course-main">
                                    <div class="course-title">
                                        Название курса раз
                                    </div>
                                    <div class="course-location">
                                        GeekBrains
                                    </div>
                                    <div class="course-progress">
                                        Прогрес
                                    </div>
                                    <div class="course-bar">
                                        <div class="coures-start-date">
                                            25.08.20
                                        </div>
                                        <div class="bar">
                                            <div class="bar-blue"></div>
                                        </div>
                                        <div class="coures-end-date">
                                            03.10.21
                                        </div>
                                    </div>
                                    <div class="course-description">
                                        Разнообразный и богатый опыт новая модель организационной деятельнт проверки модели развития. Таким обятельности играет важную роль в ели развития.
                                    </div>
                                </div>
                            </div>
                            <div class="col-1 mycol">
                                <div class="course-rate">
                                    103
                                </div>
                            </div>
                        </div>          
                    </div>
                </a>

                <a href="course.html" class="course-wrap unfinished">
                    <div class="container mycontainer">
                        <div class="row myrow">
                            <div class="col-11 mycol">
                                <div class="course-main">
                                    <div class="course-title">
                                        Название курса раз
                                    </div>
                                    <div class="course-location">
                                        GeekBrains
                                    </div>
                                    <div class="course-progress">
                                        Прогрес
                                    </div>
                                    <div class="course-bar">
                                        <div class="coures-start-date">
                                            25.08.20
                                        </div>
                                        <div class="bar">
                                            <div class="bar-blue"></div>
                                        </div>
                                        <div class="coures-end-date">
                                            03.10.21
                                        </div>
                                    </div>
                                    <div class="course-description">
                                        Таким образом новая модель организационной деятельности играет важную роль в формировании модели развития.
                                    </div>
                                </div>
                            </div>
                            <div class="col-1 mycol">
                                <div class="course-rate">
                                    0
                                </div>
                            </div>
                        </div>          
                    </div>
                </a>
                <div class="pagination">
                    <a href="#" class="page">1</a>
                    <a href="#" class="page">2</a>
                    <a href="#" class="page">3</a>
                </div>



            </div>
        </div>
        </div>
    </div>
</body>
</html>