{% extends 'users_app/base.html' %}
{% load static %}

{% block custom_js %}
    <script src="{% static 'js/additional_info_script.js' %}"></script>
{% endblock %}

{% block content %}
    <form action="{% url 'course:additional_add' course.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="main-menu-wrap margin-menu">
            <button type="submit" class="btn btn-blue">
                <i class="fas fa-save"></i>Сохранить
            </button>
            <a class="btn btn-white" href="">
                <i class="fas fa-ban"></i>Отменить
            </a>
        </div>
        </div>
        <div class="col-sm-12 col-md-9">
            <div class="breadcrumbs">
                <div class="breadcrumbs-item"><a href="courses.html">Курсы</a></div>
                <div class="separator">></div>
                <div class="breadcrumbs-item"><a href="courses.html">{{ course.name }}</a></div>
                <div class="separator">></div>
                <div class="breadcrumbs-item">Дополнительные материалы</div>
            </div>

            <div class="main-wrap">
                <div class="main-wrap">
                    <h1>Добавление дополнительных материалов</h1>
                    <label class="title-field" for="{{ form.type_info.id_for_label }}">
                        <i class="fas fa-project-diagram add-course-i"></i>Тип материала
                    </label>
                    <div class="wrap-field add-course-i">
                        <i class="fas fa-sort-down i-sort-1"></i>
                        {{ form.type_info }}
                    </div>
                    <label class="title-field" for="{{ form.name.id_for_label }}">
                        <i class="fas fa-tag"></i> Название
                    </label>
                    <div class="wrap-field">
                        {{ form.name }}
                    </div>
                    <div id="note" class="d-none">
                        <label class="title-field" for="{{ form.note.id_for_label }}">
                            <i class="fas fa-tag"></i>Заметка
                        </label>
                        <div class="wrap-field">
                            {{ form.note }}
                        </div>
                    </div>
                    <div id="url">
                        <label class="title-field" for="{{ form.url.id_for_label }}">
                            <i class="fas fa-tag"></i>Ссылка
                        </label>
                        <div class="wrap-field">
                            {{ form.url }}
                        </div>
                    </div>
                    <div id="file" class="d-none">
                        <div class="date-wrap">
                            <div class="file-l">
                                <label class="title-field" for="{{ form.file.id_for_label }}">
                                    <i class="fas fa-file"></i>Файл:
                                </label>
                            </div>
                            <div class="file-r">
                                {{ form.file }}
                                <a class="btn btn-white">
                                    <i class="fas fa-upload"></i> Выберите файл
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </form>
{% endblock %}