{% extends "base.html" %}
{% load static %}

{% block content %}

                <div class="main-menu-wrap margin-menu">
                    <a class="btn btn-blue" href="{% url 'course:course_edit' course.id %}">
                        <i class="fas fa-edit"></i>Редактировать
                    </a>
                     {% if  course.status == 'COMPLETED' and today <= course.end_date  %}
                     <a class="btn btn-green" href="{% url 'course:course_update_status' course.id %}">
                        <i class="fas fa-check"></i>Вернуть в работу
                    </a>
                    {% elif  course.status == 'OVERDUE' and today <= course.end_date  %}
                     <a class="btn btn-green" href="{% url 'course:course_update_status' course.id %}">
                        <i class="fas fa-check"></i>Вернуть в работу
                    </a>

                     {% elif  course.status == 'COMPLETED' and today > course.end_date %}
                     <div class="btn btn-green" id="btn-return">
                        <i class="fas fa-check"></i> Вернуть в работу
                    </div>    

                       {% elif  course.status == 'OVERDUE' and today > course.end_date %}
                     <div class="btn btn-green" id="btn-return">
                        <i class="fas fa-check"></i> Вернуть в работу
                    </div> 
                    {% elif count_task_work == 0  %}
                    <div class="btn btn-green" id="btn-finish">
                        <i class="fas fa-check"></i>Завершить курс
                    </div>
                    {% else %}
                    <div class="btn btn-green" id="btn-finish-t">
                        <i class="fas fa-check"></i>Завершить курс
                    </div>
                    {% endif %} 

                    <a class="btn btn-white" href="{% url 'tasks:add_task' course.id %}">
                        <i class="fas fa-plus-circle"></i>Добавить задачу
                    </a>

                    <a class="btn btn-white" href="{% url 'course:additional_add' course.id %}">
                        <i class="fas fa-plus-circle"></i>Добавить доп. матерьялы
                     </a>

                    <div class="btn btn-red" id="myBtn">
                        <i class="fas fa-trash-alt"></i>Удалить курс
                    </div>
                    

                </div>
            </div>
            <div class="col-sm-12 col-md-9">
                <div class="breadcrumbs">
                    <div class="breadcrumbs-item"><a href="{% url 'course:course_list' %}">Курсы</a></div>
                    <div class="separator">></div>
                    <div class="breadcrumbs-item"> {{ course.name }}</div>
                </div>
                
                <div class="main-wrap">
                    <h1>{{ course.name }}     
                   </h1>
                          
                    <div class="prof-wrap">
                        <i class="fas fa-project-diagram"></i><span class="b">Профессия: </span> {{ course.profession }}
                    </div>
                    <div class="prof-wrap">
                        <i class="fas fa-lightbulb"></i><span class="b">Статус: </span> {{ course.get_status_display }}
                    </div>
                    <div class="local-wrap">
                        <i class="fas fa-university"></i><span class="b">Место проведения: </span> {{ course.location }}
                    </div>
                    <div class="date-start-wrap">
                        <i class="fas fa-calendar-day"></i><span class="b">Дата начала: </span> {{ course.start_date|date:"d.m.y" }}
                    </div>
                    <div class="date-end-wrap">
                        <i class="fas fa-calendar-day"></i><span class="b">Дата окончания: </span>{{ course.end_date|date:"d.m.y" }}
                    </div>
                    <div class="goal-wrap">
                        <i class="fas fa-check"></i><span class="b">Цель: </span><div> {{ course.target }}</div>
                    </div>
                    <div class="prog-wrap">
                        <i class="fas fa-tasks"></i><span class="b">Прогресс: </span>

                        <div class="bar">
                            <div class="bar-blue w{{ course.round_rate }}"></div>
                        </div>

                    </div>
                    <div class="rate-wrap">
                        <i class="fas fa-star"></i><span class="b">Рейтинг: </span>
                        <span class="rate-circle">
                            <span class="rate b">{{ course.rate }}</span>
                        </span>
                    </div>
                    {% if course.add_report %}
                     <div class="prof-wrap">
                     <i class="far fa-flag"></i><span class="b">Добавить в отчет: </span>
                       <input type="checkbox"  id ={{course.pk}} value = 'False'  name="add_report" class="report"  checked>
                    </div>
                    {% else %}
                     <div class="prof-wrap">
                    <i class="far fa-flag"></i><span class="b">Добавить в отчет: </span>
                       <input type="checkbox" id ={{course.pk}} value = 'True' name ="add_report" class="report" >
                    </div>
                    {% endif%}

                     {% if  course.status == 'COMPLETED' %}
                     <div class="prof-wrap">
                        <i class="fas fa-graduation-cap"></i><span class="b">Уровень знаний: </span> {{ course.get_level_display }}
                    </div>
                    {% endif %}
                    <div class="extra-wrap"> 
                    {% if course.addinfo.all %}

                        <i class="fas fa-file"></i>
                        <span class="b extra-title">Доп. матерьялы: </span>
                    {% endif %}
                        <div class="extra-table">
                     
                        <table class ="fixed" > 

                            {% for aditional in course.addinfo.all %}
                            {% if aditional.type_info == 'URL'%}  
                            <tr>
                                <td>{{ aditional.name }}</td>
                                <td><a href="#">{{ aditional.url }}</a></td>
                                <td><a class="del" href="{% url 'course:additional_delete' course.pk aditional.pk %}"><i class="fas fa-trash-alt"></i></a></td>
                            </tr>
                            {% elif aditional.type_info == 'FILE' %}
                            <tr>
                                <td> {{ aditional.name }}</td>
                                <td>
                                 {% for file in aditional.files.all %}
                                <a href="{{ file.file.url }}">  {{ file.name }} </a> <br>
                                {% endfor %}
                                </td>
                               <td><a class="del" href="{% url 'course:additional_delete' course.pk aditional.pk %}"><i class="fas fa-trash-alt"></i></a></td>
                            </tr>
                            {% else %}
                            <tr>
                                <td> {{ aditional.name }}</td>
                                <td> {{ aditional.note}}</td>
                              <td><a class="del" href="{% url 'course:additional_delete' course.pk aditional.pk %}"><i class="fas fa-trash-alt"></i></a></td>
                            </tr>
                                {% endif %}

                              {% endfor %}
                        </table>

                        </div>
                    </div>

                    <h2>Задачи курса</h2>
                      <form>
                    <div class="sorts-wrap sort-for-course">
                  
                        <div class="wrap-field">
                        
                            <i class="fas fa-search"></i>  
                            <input class="field" placeholder="Поиск..." type="text" id="searchInput" onkeyup="searchFunction()">
                                                    
                        </div>
                        </form>
   
                        <div class="wrap-field">
                           Сортировка
                           <i class="fas fa-sort-down i-sort-2"></i>  
                           <select class="field select">
                            <option selected="selected" disabled="disabled">Выбор:</option>
                               <option value="1" id="1" >По убыванию даты окончания </option>
                               <option value="2" id="2" >По возрастанию даты окончания </option>
                               <option value="3" id="3" >По убыванию даты начала </option>
                               <option value="4" id="4" >По возрастанию даты начала </option>
                             </select>      
                       </div>
                   </div>
                    <div class ="task-sort">
                   {% for task in course.tasks.all %}
                 
                   {% if task.status == 'COMPLETED' %} 
                   <a href="{% url 'tasks:task' pk=course.id task_id=task.id  %}" class="task-wrap" date-start={{ task.start_date|date:"d.m.y" }} date-end = {{ task.end_date|date:"d.m.y" }} >
                       <div class="task-title task-complete b">
                            {{ task.name }}
                       </div>
                       <div class="task">
                            <div class="task-l">
                              <span class="b">Дата начала: </span><span class="task-date">{{ task.start_date|date:"d.m.y" }}</span> 
                             <span class="b">Дата окончания: </span><span class="task-date">{{ task.end_date|date:"d.m.y" }}</span>
                            </div>
                            <div class="task-r">
                                <i class="fas fa-comment"></i><span class="task-number">{{ task.cnt }}</span>
                                 
                                <i class="fas fa-file"></i>{{ task.file_task }} 
                                    
                            </div>
                       </div>
                   </a>
                 {% elif task.status == 'WORK' %} 
                <a href="{% url 'tasks:task' pk=course.id task_id=task.id  %}" class="task-wrap" date-start={{ task.start_date|date:"d.m.y" }} date-end = {{ task.end_date|date:"d.m.y" }} >
                    <div class="task-title b">
                        {{ task.name }}
                    </div>
                    <div class="task">
                         <div class="task-l">
                              <span class="b">Дата начала: </span><span class="task-date">{{ task.start_date|date:"d.m.y" }}</span> 
                             <span class="b">Дата окончания: </span><span class="task-date">{{ task.end_date|date:"d.m.y" }}</span>
                         </div>
                         <div class="task-r">
                              <i class="fas fa-comment"></i><span class="task-number">{{ task.cnt }}</span>
                                 
                                <i class="fas fa-file"></i>{{ task.file_task }} 
                         </div>
                    </div>
                </a>
                {% elif task.status == 'PLAN' %} 
                 <a href="{% url 'tasks:task' pk=course.id task_id=task.id  %}" class="task-wrap" date-start={{ task.start_date|date:"d.m.y" }} date-end = {{ task.end_date|date:"d.m.y" }} >
                    <div class="task-title task-plan b ">
                         {{ task.name }}
                    </div>
                    <div class="task">
                         <div class="task-l">
                             <span class="b">Дата начала: </span><span class="task-date">{{ task.start_date|date:"d.m.y" }}</span> 
                             <span class="b">Дата окончания: </span><span class="task-date">{{ task.end_date|date:"d.m.y" }}</span>
                         </div>
                         <div class="task-r">
                               <i class="fas fa-comment"></i><span class="task-number">{{ task.cnt }}</span>
                                 
                                <i class="fas fa-file"></i>{{ task.file_task }} 
                         </div>
                    </div>
                </a>

                {% else %}
                <a href="{% url 'tasks:task' pk=course.id task_id=task.id  %}" class="task-wrap" date-start={{ task.start_date|date:"d.m.y" }} date-end = {{ task.end_date|date:"d.m.y" }} >
                    <div class="task-title task-unfinished b">
                        {{ task.name }}
                    </div>
                    <div class="task">
                         <div class="task-l">
                             <span class="b">Дата начала: </span><span class="task-date">{{ task.start_date|date:"d.m.y" }}</span> 
                             <span class="b">Дата окончания: </span><span class="task-date">{{ task.end_date|date:"d.m.y" }}</span>
                         </div>
                         <div class="task-r">
                               <i class="fas fa-comment"></i><span class="task-number">{{ task.cnt }}</span>
                                 
                                <i class="fas fa-file"></i>{{ task.file_task }} 
                         </div>
                    </div>
                </a>
                {% endif %}
                {% endfor %}

                </div>
                </div>
        
            </div>
        </div>
    </div>

    
<div class="modal" id="modal-return">
        <div class="modal-contentt">
            <div class="modal-text">
               Срок окончания истек
            </div>
            <div class="modal-body">  
                <div class="btn btn-white" id="close-return" >
                    <i class="fas fa-ban"></i>Закрыть
                </div>
            </div>
           
        </div>
    </div>



<div class="modal" id="myModal">
        <div class="modal-contentt">
            <div class="modal-text">
                Подтвердите удаление
            </div>
            <div class="modal-body">
            <a class="btn btn-red" href="{% url 'course:course_delete' course.id %}">
                        <i class="fas fa-trash-alt"></i>Удалить
                    </a>
                <div class="btn btn-white" id="close" > 
                    <i class="fas fa-ban"></i>Отмена
                </div>
            </div>
            </form>
        </div>
</div>


<div class="modal" id="modal-finish">
        <div class="modal-contentt">
            <div class="modal-text">
                Укажите свой уровень освоения курса
            </div>
            <form action="{% url 'course:course_complete' course.id %}" method="post">
              {% csrf_token %}
            <div class="modal-body modal-finish">
                <div class="wrap-field">
                    <i class="fas fa-sort-down i-sort-2"></i> 
                       
                    {{ form.level}}
                            
                </div>
                <div class="wrap-finish">
                     
              
                  <button type="submit" class="btn btn-blue">
                <i class="fas fa-save"></i>Сохранить
            </button>

                <div class="btn btn-white" id="close-finish" > 
                    <i class="fas fa-ban"></i>Отмена
                </div>
              
            </div>
        </div>
        </form>
    </div>
    </div>


    <div class="modal" id="modal-finish-t">
        <div class="modal-contentt">
            <div class="modal-text">
               У вас есть не завершенные задачи
            </div>
            <div class="modal-body">  
                <div class="btn btn-white" id="close-finish-t" >
                    <i class="fas fa-ban"></i>Закрыть
                </div>
            </div>
           
        </div>
    </div>
    
<script src="{% static 'js/task-block.js' %}"></script>
<script src="{% static 'js/course-c.js' %}"></script> 
<script src="{% static 'js/modal_completed.js' %}"></script>  
<script src="{% static 'js/script.js' %}"></script>  
<script src="{% static 'js/sort_task.js' %}"></script>
<script src="{% static 'js/search_task.js' %}"></script>
<script src="{% static 'js/report_add.js' %}"></script>


{% endblock %}